/EjerciciosJava/HolaMundo/nbproject/private/
/EjerciciosJava/HolaMundo/dist/
/EjerciciosJava/HolaMundo/build/
/EjerciciosJava/Colores/nbproject/private/
/EjerciciosJava/Colores/build/
/EjerciciosJava/Formato/nbproject/private/
/EjerciciosJava/Formato/build/
/EjerciciosJava/Formateo2/nbproject/private/
/EjerciciosJava/Formateo2/build/
